.footer {
    background-color: $grayColor;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 37px;

    span {
        font-size: 12px;
    }

    @media screen and (min-width: $desktopBreakpoint) {
        margin-top: 0;
        position: absolute;
        width: 100%;
        bottom: 0;
    }
}