$fontRegular: 'Montserrat Regular';
$fontBold: 'Montserrat Bold';
$fontLight: 'Montserrat Light';
$fontSemiBold: 'Montserrat SemiBold';

$primaryColor: #0F52BA;
$grayColor: #EEEEEE;
$grayColor2: #2C2C2C;
$grayColor3: #BFBFBF;
$black: #000;
$black2: #2C2C2C;
$black3: #373737;

$desktopBreakpoint: 992px;